// COLORS
$primary-color: #009fff;
$secondary-color:  #ec2f4b;

$white-color: rgb(0, 0, 0);
$white-color-footer: rgb(255, 255, 255);
$dark-grey: #000000;

$dark-blue-text: #ceceeb; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
